html{
	height:100%;
}

body{
	background-image:url('../images/asteroids.jpg');
	color:white;
	position:relative;
	font-family:sans-serif;
}
input{
	width:100%;
	border-radius:5px;
	height:35px;
	padding:8px 15px;
	border:none;
	margin-top:15px;
}
.btn-success{
	background:rgb(85, 189, 85);
padding: 5px 10px;
width: 100%;	
	color:white;
cursor:pointer;	
}
.btn-success:hover{
	background:rgb(62, 169, 62);
}
.login-header {
width: 320px;
margin: 0 auto;
margin-top: 150px;
background: rgb(205, 69, 69);
border-bottom: 3px solid rgb(184, 62, 62);
padding: 15px 30px;
text-align: center;
letter-spacing:2;
}
.login{
color: white;
background: rgb(223, 224, 252);
width: 320px;
margin: -15px -30px 0;
padding: 1px 30px 15px;
}
.login-wrapper{
	width:380px;
	margin:0 auto;
	background:white;
	margin-bottom:20px;
}
.log-form{
background:white;
padding:15px 30px;
margin:0 auto;
}
.chatroom{
padding:0 30px;
}
.send-form {
position: absolute;
bottom: 0;
width: 92%;
margin-left: 30px;
padding: 0 0px;
}
.messages {
height: 400px;
overflow-y: auto;
}
.message {
background: gray;
margin: 10px 0;
min-height: 28px;
padding: 10px 15px 0;
border-radius: 4px;
}
.wd-600 {
width: 600px;
float: left;
margin-right: 15px;
}
.wd-100{
	width:100px;
}
.hide{
display:none !important;
}
.error{
height: 30px;
display: block;
padding: 15px 0 0;
text-align: center;
background: hsl(4,71%,70%);
margin-top: 15px;
}
